/**
* NAME: Jacquelyn Co
*
* HEADER: This is the CSS file of Jacquelyn Co's Personal Portfolio Website.
* It contains the styling elements that maker her website more presentable
* and appealing.
*
* DATE: 7/20/2020
*
**/

* {
  box-sizing: border-box;
  /*border: 1px solid red !important*/
}

html {
  overflow-x: hidden;
}

/* ***NAVIGATION LINKS SECTION *** */

#navLinks {
  height: 30px;
  position: fixed;
  background-color: black;
  width: 100%;
  margin: 0 0 10px 0;
  z-index: 2;
  text-align: center;
}

/* COME BACK TO THIS PORTION AFTER LEARNING ABOUT BUTTONS IN JAVASCRIPT */
/*accounting for zooming in on website for the front section of website */
@media only screen and (max-width: 577px) {
  #navLinks {
    /*height: auto;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
    z-index: 2;
    text-align: right;*/
    display: none;
    z-index: 1;
  }


  .homeGuide, .aboutGuide, .projectGuide, .contactGuide, .resumeDownload {
    z-index: 1;
    display: none;
  }

  #front {
    /*width: 100%;
    height: 100vh;
    position: relative;
    top: 30px;
    overflow: hidden;
    opacity: 0.6;

    z-index: 2;
    background-image: url("./siteImages/backgroundImage.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/


    min-height: 100%;
    max-width: 411px;
    
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
  }
}

/* **STYLING NAME INFO ON FRONT PAGE ** */
h1 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 80px;
    margin: 0 0 10px 0;
}

/*styling the home page background image*/
#front {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 30px;
  z-index: 1;
  overflow: hidden;
  opacity: 0.6;

  background-image: url("./siteImages/backgroundImage.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.frontText{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    margin-bottom: 50px;
    letter-spacing: 1px;
}

/*here we are styling the info on the front page to be aligned at the center 
so it can be easily seen and more presentable */
#front .frontContainer {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
}

@media only screen and (max-width: 1250px) {
  h1 {
    font-size: 40px;
    margin: 300px 0 0 0;
  }
}

@media only screen and (max-width: 1400px) {
  h1 {
    font-size: 60px;
    margin: 0 0 5px 0;
  }
}

/* ** END OF STYLING NAME INFO ON FRONT PAGE ** */

h3 {
  font-size: 30px;
  overflow: hidden;
}

/*here we are styling the navigation links to be certain colors and fonts. we are 
also spacing out the links on the front page*/
.homeGuide, .aboutGuide, .projectGuide, .contactGuide, .resumeDownload {
    color: white;
    background-color: black;
    font-size: 17.5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    padding: 0 100px;
    width: 100%;
    overflow: hidden;
    display: flex-start;
    align-items: center;
    justify-content: center;
}

.projects, .contactMe {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  padding-top: 40px;
}

/*ABOUT ME SECTION*/
.aboutContainer {
  width: 100%;
  padding-right: 150px;
  padding-left: 100px;
  padding-bottom: 80px;
  margin-right: auto;
  margin-left: auto;
}

#about {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.aboutMe {
  margin-left: 130px;
  margin-right: auto;
  font-size: 50px;
  padding-top: 40px;
}

#profilePic {
  height: 350px;
  width: 350px;
  display: block;
  margin-left: 65px;
  margin-right: auto;
}

.about-shadowBox {
  position: relative;
  background-color: #fff;
  margin-top: 4.5rem;
  margin-bottom: 3rem;
  z-index: 1;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.about-columns {
  position: relative;
  top: -400px;
  box-sizing: border-box;
}

.about-leftColumn {
  display: inline-block;
  position: relative;
  top: 70px;
  margin-left: 500px;
  margin-right: auto;
  font-size: 15px;
  font-weight: normal;
  width: 15%;
  margin-right: 6.25rem;
}

.about-rightColumn {
  position: relative;
  display: inline-block;
  top: 30px;
  font-size: 20px;
  font-weight: bold;
  width: 30%;
}

/*accounts for zoom at 150% on my desktop*/
@media only screen and (max-width: 1400px) {
  .aboutContainer {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
  }

  .aboutMe {
    margin-left: 50px;
    font-size: 45px;
  }
}

/*accounts for zoom at 175% and above on my desktop*/
@media only screen and (max-width: 1250px) {
  .aboutContainer {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
  }

  .aboutMe {
    margin-left: 120px;
    font-size: 45px;
  }

  #profilePic {
    height: 250px;
    width: 250px;
    display: block;
    margin-left: 100px;
    margin-right: auto;
  }

  .about-shadowBox {
    position: relative;
    background-color: #fff;
    margin-bottom: 3rem;
    z-index: 1;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  }

  .about-leftColumn {
    position: relative;
    top: 420px;
    right: 400px;
    text-align: left;
    width: 70%;
  }

  .about-rightColumn {
    position: relative;
    left: 100px;
    top: 400px;
    width: 70%;
  }
}

/* END OF ABOUT ME SECTION */

/* ** PROJECTS SECTION ** */
.project-subtitle {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  padding-left: 20px;
}

.projectContainer {
  width: 100%;
  padding-right: 200px;
  padding-left: 100px;
  padding-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
}

/*this shadow box holds the COSMOS Beach Image Projects*/
.project-shadowBox {
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 1;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

/*this shadow box holds the Bananana Piano Project */
.project-shadowBox2 {
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  /*margin-left: 15rem;*/
  z-index: 1;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.projectTitles {
  padding-top: -10px;
}

.proj-title-individual {
  padding-bottom: 0;
}

#flexBox2 {
  /*spaces out the project boxes*/
  margin-top: 5rem;
}

#COSMOS_BEACH1, #COSMOS_BEACH2 {
  height: 340px;
  width: 420px;
}

#banana-piano-video {
  height: 340px;
  width: 840px;
}

#COSMOS-IMAGE-PROCESSING{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: relative;
  left: 280px;
  bottom: 20px;
  font-size: 35px;
}

#COSMOS-BANANA-PIANO{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: relative;
  left: 280px;
  bottom: 20px;
  font-size: 35px;
}

#image-processing-language {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: relative;
  left: 350px;
  bottom: 50px;
}

#banana-piano-language {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: relative;
  left: 230px;
  bottom: 50px;
}

.project-summary-container {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  margin-top: -150px;
}

.projectSummary1 {
  margin-left: -40px;
}

.projectSummary2 {
  margin-left: -40px;
}

/*positioning the project summaries*/
#image-processing-summary {
  position: relative;
  left: 470px;
  bottom: 120px;
  width: 60%;
}

#banana-piano-summary {
  position: relative;
  left: 470px;
  bottom: 100px;
  width: 60%;
}

/*accounts for 150% zoom on my desktop*/
@media only screen and (max-width: 1400px) {
  .projectContainer {
    width: 100%;
    padding-right: 201px;
    padding-left: 201px;
    padding-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
  }

  .projectLanguages {
    padding-bottom: 200px;
  }

  #image-processing-language {
    position: relative;
    padding-top: 0;
    left: 80px;
    bottom: 40px;
    width: 80%;
  }

  #banana-piano-language {
    position: relative;
    padding-top: 0;
    left: 80px;
    bottom: 40px;
    width: 80%;
  }

  #COSMOS-IMAGE-PROCESSING {
    position: relative;
    left: 80px;
    bottom: 40px;
    width: 80%;
  }

  #COSMOS-BANANA-PIANO {
    position: relative;
    left: 80px;
    bottom: 40px;
    width: 80%;
  }

  #image-processing-summary {
    position: relative;
    left: 50px;
    bottom: 40px;
    width: 80%;
  }

  #banana-piano-summary {
    position: relative;
    left: 50px;
    bottom: 40px;
    width: 80%;
  }

  #banana-piano-video {
    width: 460px;
  }
}
/* **END OF PROJECTS SECTION ** */


/* **CONTACT ME SECTION ** */
.contactContainer {
  width: 100%;
  padding: 100px 300px 100px 300px;
  margin-right: auto;
  margin-left: auto;
  background-image: url("https://media.istockphoto.com/photos/opaque-sky-in-the-evening-background-look-so-sad-sky-picture-id901921196?k=6&m=901921196&s=170667a&w=0&h=OeN_XENTdo57qCqVC7LSCumcIdLt0gvmFeAmgGQ5jxA=");
  background-size: cover;
  background-position: 50% 0;
  background-attachment: fixed;
}

.contact-shadowBox {
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 1;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0 2px 5px 0 rgba(0, 0, 0, 0.8);
}

#contactForms, #send-a-message-header {
  display: block;
  margin-left: 20px;
  margin-right: auto;
  padding-left: 100px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.formAnswer {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#formMessage {
  height: 200px;
  width: 400px;
}

#formEmail, #formName {
  height: 40px;
  width: 400px;
} 

#social-media-contact {
  display: block;
  position: relative;
  top: -477.5px;
  padding-top: 21.5px;
  margin-left: 710px;
  margin-right: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

.contact-me-summary {
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: block;
  position: relative;
  top: -505px;
  margin-left: 710px;
  margin-right: auto;
  font-weight: normal;
}

#social-media {
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: block;
  position: relative;
  top: -505px;
  margin-left: 620px;
  margin-right: auto;
  padding-left: 250px;
  font-weight: bold;
}

.social-icons, .social-media-box {
  border-radius: 50%;
  position: relative;
  top: -505px;
  left: 810px;
}

/* **END OF CONTACT ME SECTION ** */




