/**
* NAME: Jacquelyn Co
*
* HEADER: This is the CSS file of Jacquelyn Co's Personal Portfolio Website.
* It contains the styling elements that maker her website more presentable
* and appealing.
*
* DATE: 7/20/2020
*
**/

* {
  box-sizing: border-box;
  /*border: 1px solid red !important*/
}

/* ***NAVIGATION LINKS SECTION *** */

#navLinks {
  height: 30px;
  position: fixed;
  background-color: black;
  width: 100%;
  margin: 0 0 10px 0;
  z-index: 2;
  text-align: center;
}

/*accounting for zooming in on website for the front section of website */
@media (max-width: 1300px) {
  #navLinks {
    height: auto;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
    z-index: 2;
    text-align: right;
  }
}

/* **STYLING NAME INFO ON FRONT PAGE ** */
h1 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 80px;
    margin: 0 0 10px 0;
    overflow: hidden;
}

/*styling the home page background image*/
#front {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 30px;
  z-index: 1;
  overflow: hidden;
  opacity: 0.6;

  background-image: url("./siteImages/backgroundImage.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.frontText{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    margin-bottom: 50px;
    letter-spacing: 1px;
}

/*here we are styling the info on the front page to be aligned at the center 
so it can be easily seen and more presentable */
#front .frontContainer {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
}

/* ** END OF STYLING NAME INFO ON FRONT PAGE ** */

h3 {
  font-size: 30px;
  overflow: hidden;
}

/*here we are styling the navigation links to be certain colors and fonts. we are 
also spacing out the links on the front page*/
.homeGuide, .aboutGuide, .projectGuide, .contactGuide, .resumeDownload {
    color: white;
    background-color: black;
    font-size: 17.5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    padding: 0 100px;
    width: 100%;
    overflow: hidden;
    display: flex-start;
    align-items: center;
    justify-content: center;
}

.projects, .contactMe {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
  padding-top: 40px;
}

/*ABOUT ME SECTION*/

.aboutContainer {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

#about {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.aboutMe {
  margin-left: 130px;
  margin-right: auto;
  font-size: 50px;
  padding-top: 40px;
}

#profilePic {
  height: 400px;
  width: 350px;
  display: block;
  margin-left: 65px;
  margin-right: auto;
}

.about-shadowBox {
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 1;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.about-leftColumn {
  display: inline-block;
  top: -23.75rem;
  margin-left: 500px;
  margin-right: auto;
  font-size: 15px;
  font-weight: normal;
  width: 15%;
  margin-right: 6.25rem;
  flex-flow: row-reverse wrap;
}

.about-rightColumn {
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  width: 15%;
  flex-flow: row-reverse wrap;
}
/* END OF ABOUT ME SECTION */

/* ** PROJECTS SECTION ** */
.projectContainer {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
.project-shadowBox {
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 1;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}
#banana {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
  margin-left: 110px;
  margin-bottom: 50px;
  
}

#COSMOS_BEACH1 {
  width: 350px;
  height: 240px;
  padding-left: 50px;
}

#COSMOS_BEACH2 {
  width: 320px;
  height: 240px;
}

#bananianoUp {
  margin-left: 200px;
  margin-right: 50px;
}

#flexProjects {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.proj-title-individual {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: black;
  letter-spacing: 2px;
}

#COSMOS_IMAGE1_TITLE {
  position: relative;
  right: 710px;
  margin-top: 5px;
}

#COSMOS_IMAGE2_TITLE {
  position: relative;
  right: 160px;
  margin-top: 5px;
}

#python-image-processing {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #4e4e4e;
  letter-spacing: 1px;
  position: relative;
  right: 848px;
  margin-top: -30px;
}

#image-processing-year {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #4e4e4e;
  letter-spacing: 1px;
  position: relative;
  right: 1114px;
  margin-top: -20px;
}

#C-sharp-banana-piano {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #4e4e4e;
  letter-spacing: 1px;
  position: relative;
  right: 80px;
  margin-top: -30px;
}

#banana-piano-year {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #4e4e4e;
  letter-spacing: 1px;
  position: relative;
  right: 330px;
  margin-top: -20px;
}

#projectTitles, #projectLanguages, #projectYear-container, #project-summary-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.projectSummary {
  margin-top: 5px;
}

.projectSummary1 li {
  list-style-type: square;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  position: relative;
  left: 15px;
  color: #4e4e4e;
}

.projectSummary2 li {
  list-style-type: square;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  position: relative;
  left: 360px;
  width: 45%;
  color: #4e4e4e;
}
/* **END OF PROJECTS SECTION ** */


/* **CONTACT ME SECTION ** */
.contactContainer {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.contact-shadowBox {
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 1;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08), 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

#contactForms, #send-a-message-header {
  display: block;
  margin-left: 20px;
  margin-right: auto;
  padding-left: 100px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.formAnswer {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#formMessage {
  height: 200px;
  width: 400px;
}

#formEmail, #formName {
  height: 40px;
  width: 400px;
} 

#social-media-contact {
  display: block;
  position: relative;
  top: -477.5px;
  padding-top: 21.5px;
  margin-left: 710px;
  margin-right: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

.contact-me-summary {
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: block;
  position: relative;
  top: -505px;
  margin-left: 710px;
  margin-right: auto;
  font-weight: normal;
}

#social-media {
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: block;
  position: relative;
  top: -505px;
  margin-left: 620px;
  margin-right: auto;
  padding-left: 250px;
  font-weight: bold;
}

/* **END OF CONTACT ME SECTION ** */

.social-icons, .social-media-box {
  border-radius: 50%;
  position: relative;
  top: -505px;
  left: 810px;
}



